@font-face{
    font-family: 'Sans';
    src: url('../fonts/Sans.ttf')
}


//Взято с интернета
$count: 10;
$time: 2; //in seconds
$size: 50;
$color: #f3f3f3c2;

.holder {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  z-index: 50;
  height: 100%;
  background-color: #6babce;
}

.preloader {
  /* size */
  width: $size + px;
  height: $size + px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: rotatePreloader $time + s infinite ease-in;
}
@keyframes rotatePreloader {
  0% {
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
  transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}
.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.preloader div:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  width: 10%;
  height: 10%;
  background-color: $color;
  transform: translateX(-50%);
  border-radius: 50%;
}

@for $i from 1 through $count {
  .preloader div:nth-child(#{$i}) {
    transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
    animation: rotateCircle + $i $time + s infinite linear;
    z-index: $count - $i;
  }
  @keyframes rotateCircle#{$i} {
    #{percentage(((50 / $count) * ($i - 1)) / 100)} {
      opacity: 0;
    }
    #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
      opacity: 1;
      transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
    }
    #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
      transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
    }
    #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
      transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
    }
    100% {
      transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
      opacity: 1;
    }
  }
}

//Взято с интернета

body{
    font-family: 'Sans';
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


input{
    outline: none;
    height: 25px;
    font-size: 1.2em;
    padding-left: 3%;
    border-radius: 2px;
    border: 1px solid rgb(174, 174, 174);
    padding: 2% 4%;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    hr{
        border: 1px solid;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    img{
        width: 30px;
        height: auto;
    }
}

.container{
    width: 1175px;
    margin: 0 auto;
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
}
.title{
    text-align: center;
    margin-top: 50px;
    font-size: 2.5em;
    color:rgba(44, 44, 44, 0.768);
}

.wrap{
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -40%);

    .box{
        width: 42%;
        height: 100%;
        box-shadow: 0 0 20px rgb(138, 138, 138);
        position: relative;
        &-meta{
            position: absolute;
            display: flex;
            height: 100%;
            justify-content: space-around;
            top: 0;
            height: 10%;
            width: 100%;
            
            &__coin{
                width: 100%;
                height: 100%;
                font-size: 1.2em;
                color: rgb(0, 0, 0);
                display: flex;
                align-items: center;
                position: relative;
                border-bottom: 1px solid rgb(197, 197, 197);
                cursor: pointer;
                justify-content: center;
                &.main{
                    cursor: text !important;
                }
                &:first-child::after, &:nth-child(2)::after, &:nth-child(3)::after{
                    content: '';
                    height: 100%;
                    width: 2px;
                    background-color: rgb(197, 197, 197);
                    position: absolute;
                    right: 0;
                }
                &.activeCoin{
                    background-color: rgba(17, 172, 189, 0.768);
                    color: white;
                }
                img{
                    width: 20%;
                    height: auto;
                    transform: rotate(-90deg);
                }
            }
        }
        &-amount{
            position: absolute;
            top: 30%;
            transform: translate(0, -50%);
            left: 8%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
        &-email{
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 20%;
            display: flex;
            padding-left: 8%;
            flex-direction: column;
            margin: 0 auto;
            &__title{
                position: absolute;
                text-align: center;
                font-size: 1.5em;
                color: rgba(44, 44, 44, 0.768);
            }
            &__name{
                margin-top: 20%;
                width: max-content;
                height: 20px;
            }
            button{
                margin-top: 5%;
                border: 1px solid;
                background-color: rgb(17, 172, 189);
                color: white;
                padding: 2% 4%;
                border-radius: 4px;
                height: 30px;
                width: 35%;
                cursor: pointer;
                &:disabled{
                    opacity: 0.7;
                    cursor: default;
                    
                }
            }
        }
        &-total-amout{
            position: absolute;
            width: max-content;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
            right: 0;
            font-size: 1.8em;
            display: flex;
            flex-direction: column;
           
            color: rgb(84, 84, 84);
            text-align: center;
            margin: 0 auto;
            &__courses{
                margin-top: 3%;
                display: inline-block;
                width: max-content;
            }
        }
        &-list{
            box-shadow: 0 0 20px rgb(138, 138, 138);
            width: 100%;
            height: 89%;
            bottom: 0;
            position: absolute;
            background-color: white;
            padding: 5%;
            overflow-y: scroll;
            &__tiker{
                font-weight: 600;
            }

            &__name{
                margin-left: 2%;
            }
            
            &-search{
                height: 5%;
                display: block;
                input{
                    width: 30%;
                    height: 20%;
                    padding-left: 1%;
                    border-radius: 2px;
                }
            }
            &__scroll{
                display: grid;
                grid-template-columns: 1fr 1fr;
                height: max-content;
                margin-top: 5%;
                >div{
                    height: 50px;
                    display: flex;
                    align-items: center;
                    padding-left: 2%;
                    transition: all 0.4s;
                    cursor: pointer;
                    &:hover{
                        background: rgb(232, 232, 232);
                    }
                }
            }
        }
    }   
}


.message{
    width: max-content;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    position: absolute;
    bottom: 10%;
    right: 5%;
    border: 1px solid #2f9700;
    background-color: rgb(255, 255, 255);
    &.err{
        border: 1px solid red !important;
        width: 200px !important;
    }
    &-inner{
        padding: 3%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 300px;
        white-space: nowrap;
       img{
           height: 40px;
           width: auto;
       }
       &__text{
           margin-left: 2%;
       }
    }
    
}

.fade-enter-active{
    animation: message .5s;
}

.fade-leave-to{
    animation: message .2s reverse;
}

@keyframes message{
    0%{
        transform: translate(200px, 0);      
    }

    100%{
        transform: translate(0, 0);
    }
}


.fade-enter{
    margin-left: 500px;
}

.fade-enter-active{
   
}

@media screen and (max-width: 679px){
    body{
        font-size: 14px;
    }
    .container{
        width: 100%;
        flex-wrap: wrap;
        position: static;
    }
    .title{
        margin-top: 20px;
    }
    .wrap{
        height: 600px;
        transform: translate(0, 0);
        position: static;
        margin-top: 10%; 
       
        .box{
            width: 90% ;
            margin: 0 auto;
            height: 300px;
            padding: 2% 0;
            &:last-child{
                margin-top: 10%;
            }
            &-meta{
                height: 15%;
            }
            &-amount{
                top: 35%;
            }
            &-email{
                button{
                    height: 40px;
                }
                padding-left: 5.5%;
                height: max-content;
    
                &__name{
                    margin-top: 13%;
                    width: 65%;
                    max-width: 286px;
                
                }
            }
            &-list{
                position: fixed;
                width: 100vw;
                height: 100vh;
                top: 60%;
                &-search{
                    height: max-content;
                    input{
                        height: 15px;
                        width: 40%;
                    }
                }
                &__scroll{
                    grid-template-columns: 1fr;
                }
            }
        }
    }

    footer{
        height: 200px;
        
    }
    
}

@media screen and (min-width: 450px) and  (max-width: 679px){
    .wrap .box-email__name{
        margin-top: 8%;
    }
}

@media  screen and (min-width:680px) and(max-width: 1023px){
    body{
        font-size: 13.6px;
    }
    .container{
        width: 90%;
    }
    .wrap .box{
        width: 47%;
        max-height: 324px;   
    }

    .wrap .box-list{
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 90%;
    }
    .wrap .box-email__name {
        margin-top: 10%;
    }

    .wrap .box-email button{
        max-width: 112px;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1350px){
    body{
        font-size: 16px;
    }
    .container{
        width: 90%;
    }
    .wrap .box{
        width: 47%;
        max-height: 400px; 
    }

    .title {
        margin-top: 150px;
        font-size: 3em;
    }

    .wrap .box-email__name{
        margin-top: 10%;
    }
    .wrap .box-email button{
        max-width: 112px;
        height: auto;
    }

}


